<section id="about" class="services-area services-bg pt-25 pb-20" style="background-image: url(img/shapes/green-shapes2.png); background-position: right top; background-size: auto;background-repeat: no-repeat;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-10">
        <div class="section-title text-center pl-40 pr-40 mb-45">
          <h2>We're In This Together</h2>
          <p>
            Greenlight monitors the health of your students and staff and provides them with the support they need
            through a local network of community services.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-30">
        <div class="s-single-services text-center">
          <div class="services-icon">
            <img src="img/icon/f-icon2.png" />
          </div>
          <div class="second-services-content">
            <h5>Expert Advising</h5>
            <p>Consult with top physicians and educators. Playbooks to guide you through any challenge.</p>
            <a href="#"><span>1</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-30">
        <div class="s-single-services text-center">
          <div class="services-icon">
            <img src="img/icon/f-icon3.png" />
          </div>
          <div class="second-services-content">
            <h5>Community and Social Support</h5>
            <p>We're not just another survey app. We connect your families to triage and social services with a tap.</p>
            <a href="#"><span>2</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-30">
        <div class="s-single-services active text-center">
          <div class="services-icon">
            <img src="img/icon/f-icon1.png" />
          </div>
          <div class="second-services-content">
            <h5>Simple Screening</h5>
            <p>Parents fill out fast, daily surveys so you and our expert staff can monitor your school and prevent closures.</p>
            <a href="#"><span>3</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
