<footer class="footer-bg footer-p pt-60" style="background-image: url(img/bg/f-bg.png); background-position: center top; background-size: auto;background-repeat: no-repeat;">

    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="logo mt-15 mb-15">
                <a href="#" style="color: white;font-family: Poppins;font-weight: bold;font-size:2.5em;">GreenlightEd.</a>
              </div>
              <div class="footer-text mb-20">
                <p>Reopen. Stay Open.</p>
              </div>
<!--              <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </div> -->
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="f-widget-title">
                <h5>Company</h5>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="#parallax">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#clinical">Clinical Care</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <!-- <li><a href="#">Terms & Conditions</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="f-widget-title">
                <h5>Resources</h5>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="https://pandemicresponsenetwork.org">Pandemic Response Network</a></li>
                  <li><a href="https://www.dukehealth.org/covid-19-update">Duke COVID-19 Resources</a></li>
                  <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/">Center for Disease Control</a></li>
                  <!-- <li><a href="#">Our Team</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <div class="f-widget-title">
                <h5>Contact Us</h5>
              </div>
              <div class="footer-link">
                <div class="f-contact">
                  <ul>
<!--                    <li>
                      <i class="icon dripicons-phone"></i>
                      <span>Call us<br>(919) 234-8765</span>
                    </li> -->
                    <li>
                      <i class="icon dripicons-mail"></i>
                      <span>Email<br><a href="mailto:hello@greenlighted.org">hello@greenlighted.org</a></span>
                    </li>
<!--                    <li>
                      <i class="fal fa-map-marker-alt"></i>
                      <span>380 Green St, Erehwon<br>DE, 300432</span>
                    </li> -->
                  </ul>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="copyright-wrap text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text">
              <p>&copy; 2020 Greelight Ready LLC</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-end -->