<header class="header-area">
  <div id="header-sticky" class="menu-area">
    <div class="container">
      <div class="second-menu">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2">
            <div class="logo">
              <a href="#parallax"><img src="/img/logo/logo.svg" alt="logo"></a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-9">
            <div class="responsive"><i class="icon dripicons-align-right"></i></div>
            <div class="main-menu text-right text-xl-right">
              <nav id="mobile-menu">
                <ul>
                  <li><a href="#about">About</a></li>
                  <!-- <li><a href="#monitoring">Monitoring</a></li> -->
                  <!-- <li><a href="#clinical-support">Clinical Support</a></li> -->
                  <li><a href="#team">Our Team</a></li>
                  <!-- <li><a href="#partners">Partnerships</a></li> -->
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="https://medium.com/greenlightready">Blog</a></li>
                  <li><a href="https://app.greenlightready.com">Sign In</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 text-right d-none d-xl-block">
            <div class="header-btn second-header-btn">
              <a href="https://calendly.com/greenlighted" class="btn">SCHEDULE MEETING</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
