<section class="app-work pt-70 pb-100 p-relative" style="background-image: url(/img/shapes/green-shapes4.png); background-position: right center; background-size: auto;background-repeat: no-repeat;">
  <div class="container">
    <div class="row align-items-center ">

      <div class="col-xl-6">
        <div class="choose-wrap">
          <div class="section-title w-title left-align mb-15">
            <h2>How does Greenlight work?</h2>
          </div>
          <div class="app-work-content mt-20">
            <ul>
              <li>
                <div class="icon"><img src="/img/icon/greenlight.png"></div>
                <div class="text">
                  <h4>Parents Greenlight Students</h4>
                  <p>Every morning parents submit a quick survey with their children's symptoms.</p>
                </div>
              </li>
              <li>
                <div class="icon"><img src="/img/icon/yellowlight.png"></div>
                <div class="text">
                  <h4>Connect with Care</h4>
                  <p>We connect symptomatic students and staff to testing and care services.
                    In partnership with local nonprofits, we also help to empower
                    a community of parents to help each other in times of need.
                  </p>
                </div>
              </li>
              <li>
                <div class="icon"><img src="/img/icon/redlight.png"></div>
                <div class="text">
                  <h4>Recover</h4>
                  <p>
                    Along with guiding the students recovery, we share our data with the local health department so they can improve their tracing efforts to keep everyone safe.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <img src="/img/bg/app-work-img.png" alt="app-work-img" class="img">
      </div>
    </div>
  </div>
  </section>
