<style>
  .pipedriveWebForms {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
    z-index: 100;
  }
  @media screen and (min-width: 600px) {
    .pipedriveWebForms {
      margin-top: 150px;
    }
  }
</style>
<section id="parallax" class="slider-area slider-bg2 second-slider-bg d-flex fix" style="background-image: url(/img/bg/header-bg.png); background-position:right 0; background-repeat: no-repeat; background-size: 65%;">
  <div class="slider-shape ss-one layer" data-depth="0.10"><img src="/img/shapes/green-shapes1.png" alt="shape"></div>

  <div class="slider-shape ss-eight layer" data-depth="0.50"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="slider-content second-slider-content left-center">
          <ul class="small-title mb-30 hidden">
            <li>Greenlight</li>
            <li>Symptom Monitoring and Community Empowerment</li>
          </ul>
          <h2 data-animation="fadeInUp" data-delay=".4s">COVID-19 Support<br /><span>For NC Charters</span></h2>
          <p data-animation="fadeInUp" data-delay=".6s">Monitor the well-being of students and staff. Get the social support they need. Guidance from top physicians to support your school's operations.
          </p>
          <div class="mt-30">
            <b class="color-dark">POWERED BY </b> <a href="https://pandemicresponsenetwork.org"><img alt="Duke Health" src="/img/prn.png" style="height:80px; padding-left: 20px;" /></a><br /><br />
            <b class="color-dark">AND EXPERTISE AT
              <img alt="Duke Health" src="/img/duke.png" style="height:50px; padding-left: 20px;" />
            </b>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/2Z6x7JM4waeolvWffDRhUOewPg1gvDbHFO8B6znky3ZmmAKCv2qYsV4VcFGt7ztKz">
          <script src="https://webforms.pipedrive.com/f/loader"></script>
        </div>
      </div>
    </div>
  </div>
</section>
