<section class="faq-area pb-100" style="background-image: url(/img/shapes/green-shapes6.png); background-position: right center; background-size: auto;background-repeat: no-repeat;">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-6">
        <div class="faq-img text-right">
          <img src="/img/partners.png" alt="Our Partners" class="img">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-title left-align mb-50">
          <h2>Our Partners</h2>
          <p>Greenlight is proud to work with the following organizations.</p>
        </div>
        <div class="faq-wrap">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="faq-btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Curamericas Global
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="https://curamericas.org">Curamericas</a> has provided grants to schools throughout North Carolina to use Greenlight fo free.
                  Additionally, Curamericas has provided community health workers who handle social service requests
                  for Greenlight families ranging from food assistance to income relief.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="faq-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Duke Health
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Along with partner with Duke Health's top physicians for population health and infectious diseases,
                  Greenlight has partnered with Duke to provide free testing to the Durham community. Duke is also processing
                  COVID-19 relief payments for those who need to quarantine.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="faq-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Supply Hawk
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Through <a href="https://supplyhawk.org">>Supply Hawk</a>, Greenlight provides low cost access to personal protective equipment for both school
                  staff and family.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="faq-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Stop the Spread
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="https://www.stopthespread.org/">Stop the Spread</a> has brought together a community of executives, volunteers, donors, and subject matter experts
                  to catalyze action and augment government in response to COVID-19.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
