<section id="monitoring" class="choose-area pt-100 pb-60 p-relative" style="background-image: url(/img/shapes/green-shapes3.png); background-position: right center; background-size: auto;background-repeat: no-repeat;">
	<div class="chosse-img" style="background-image:url(/img/bg/easy-m-bg.png)"></div>
	<div class="chosse-img2"><img src="/img/bg/mobile2.png" alt="mobile" /></div>
	<div class="container">
	  <div class="row">
		 <div class="col-xl-5">
		 </div>
		 <div class="col-xl-7">
			<div class="choose-wrap">
			  <div class="section-title w-title left-align mb-25">
				 <h2>Proven at Scale</h2>
			  </div>
			  <div class="choose-content">
				 <p>
					Greenlight evolved from Duke Health's Pandemic Response Network which launched across 40 states, 5 countries, and 2 languages.
					Our monitoring will give you and our experts the insight needed to make the decisions that will keep school in session throughout the year.
					<br /><br />
					These same protocols have been used to keep Duke University and Duke Hospital operating throughout the pandemic.
				 </p>

				 <a class="btn ss-btn" href="{{ page.cta_href }}">{{ page.cta_text }}</a>

				 <!-- <div class="choose-btn mt-30">
					<a href="#"><span class="icon"><img src="/img/icon/apple-icon.png" alt="apple-icon"></span>
						 <span class="text"> Available on <strong>APP STORE</strong></span></a>
					<a href="#" class="g-btn"><span class="icon"><img src="/img/icon/g-play-icon.png" alt="apple-icon"></span>
						 <span class="text"> Available on <strong>PLAY STORE</strong></span></a>
				 </div> -->


			  </div>
			</div>
		 </div>
	  </div>
	</div>
</section>
