<section id="about" class="video-area pt-100 pb-100 p-relative">
  <div class="video-img2">
    <img src="/img/bg/returning-to-school.jpg" style="max-width: 600px" alt="Young girl returns to school" />
    <a href="https://www.youtube.com/watch?v=ZXijKCJdCAk" class="popup-video"><img src="/img/bg/play-btn.png" alt="play-btn.png"></a>
  </div>
  <div class="video-img3">
    <img src="/img/shapes/green-shapes5.png" alt="green-shape4">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
      </div>
      <div class="col-xl-7">
        <div class="video-wrap">
          <div class="section-title w-title left-align mb-25">
            <h2>Protect What Matters Most</h2>
          </div>
          <div class="video-content">
            <ul>
              <li>
                <div class="icon"><img src="/img/icon/vs-icon.png"></div>
                <div class="text">
                  <b>Expert Advising
                  </b>
                  Consult with top physicians and educators to walk through any challenge.
                </div>
              </li>
              <li>
                <div class="icon"><img src="/img/icon/vs-icon.png"></div>
                <div class="text"><b>
                  Community and Social Support
                </b> We're not just another survey app. We connect your families to triage and social services with a tap.
                </div>
              </li>
              <li>
                <div class="icon"><img src="/img/icon/vs-icon.png"></div>
                <div class="text">
                  <b>Simple Screening</b>
                  Parents fill out fast, daily surveys so you and our expert staff can monitor your school and prevent closures.


                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
