<!doctype html>
<html class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175445956-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-175445956-1');
  </script>

  <meta charset="utf-8">
  <title>Greenlight Ed - COVID-19 Monitoring and Clinical Support for Schools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS here -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/fonts/dripicons/dripicons.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/swiper.css">
  <link rel="stylesheet" href="/css/greenlight.css">

</head>

<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  <!-- JS here -->
  <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/one-page-nav-min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/ajax-form.js"></script>
  <script src="/js/paroller.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/js_isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.min.js"></script>
  <script src="/js/parallax.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/typed.js"></script>
  <script src="/js/parallax-scroll.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/element-in-view.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>